<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!--Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Oxygen:700&display=swap" rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" href="/css/main.css">
  {{!-- mobile optimized --}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Futurity Scraper</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper black" style="padding: 0 2em 0 2em">
      <a href="/" class="brand-logo">Futurity Scraper</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/api/scrape" >Scrape Articles</a></li>
        {{!-- <li><a href="/api/clear" class="btn red">Clear Articles</a></li> --}}
        <li><a href="#modal1" class="modal-trigger" id="clear">Clear Articles</a></li>
        {{!-- <li><a href="/saved">Saved Articles</a></li> --}}
         <li><a href="https://john-robertson-portfolio.herokuapp.com/" target="_blank">Portfolio</a></li>
        <li><a href="https://github.com/jrobs87/article_scraper" target="_blank">GitHub</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
        <li><a href="/api/scrape" >Scrape Articles</a></li>
        {{!-- <li><a href="/api/clear" class="btn red">Clear Articles</a></li> --}}
        <li><a href="#modal1" class="modal-trigger" id="clear">Clear Articles</a></li>
        {{!-- <li><a href="/saved">Saved Articles</a></li> --}}
         <li><a href="https://john-robertson-portfolio.herokuapp.com/" target="_blank">Portfolio</a></li>
        <li><a href="https://github.com/jrobs87/article_scraper" target="_blank">GitHub</a></li>
  </ul>

  <div class="parallax-container center valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 white-text">
          <h1 class="white-text">Science and Technology</h1>
          <p>Click 'Get Started' to scrape  articles from Futurity, a leading research publication
            from universities across the world.</p>
          <a href="/api/scrape" class="waves-effect waves-light btn black-text" style="background: #E8C206"><strong>Get Started</strong></a>
        </div>
      </div>
    </div>

    <div class="parallax">
      <img src="/img/futurity.jpg">
    </div>
  </div>

  {{{body}}}


  <div class="container">
    <div class="row">
      <div class="col" style="color: white">
        A web scraping utility built with Node.js, Mongo.js + Mongoose, & Cheerio.
      </div>
    </div>
    <br>
  </div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h5>Clear these articles?</h5>
      This is a permanent action and cannot be undone. Are you sure you want to continue?
    </div>
    <div class="modal-footer">
      <a href="#" class="modal-close waves-effect waves-green btn-flat btn-small white">Keep</a>
      <a href="/api/clear" class="modal-close waves-effect waves-green btn-small black">Clear</a>
    </div>
  </div>

  {{!-- js scripts --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.modal').modal();
      $('.parallax').parallax();
      $('.sidenav').sidenav();
      $('#clear').on('click', function () {

      })


    
      console.log('Good to go!')
    });
  </script>
</body>

</html>