<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mongo Scraper - Home</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col 12">

                <div>
                    <h1>Mongo + Cheerio</h1>
                    <h3>Futurity Edition</h3>
                </div>
<br>
                <div id="articles">
                    <ul class="people_list">
                        {{#each data}}
                        <li>
                            <h4>{{this.title}}</h4>
                            <h5 class="btn black" ><a style="color: white" href="{{this.link}}" target="_blank">READ</a></h5>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>