<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mongo Scraper - Home</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col 12">
                <br>
                <div id="articles">
                    <ul class="people_list">
                        {{#each data}}
                        <li class="article">
                            <h5 style="color: #E8C206">{{this.title}}</h5>
                            <a class="btn black white-text article-link" href="{{this.link}}" target="_blank">Read</a>
                            <a class="btn black white-text article-link note modal-trigger" href="#modal2"
                                style="margin-left: 1em" data-id={{this.id}}>Add Note</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>