<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mongo Scraper - Saved</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col 12">
                
                    <div>
                        <h1>Mongo + Cheerio</h1>
                        <h3>Futurity Edition</h3>
                        <p>Putting saved articles here1</p>
                    </div>
            
            </div>
        </div>
    </div>

</body>

</html>